// FootBox.scss

#footBox {width: 100%; height: 200px; background-color: #FFDAB9;}

.foot_area {
  width: 100%; height: 100%; padding: 4px;
  & p {
    width: 200px; height: 50px;
    margin: 20px auto;
    background-color: white;}
  & .btn {
    width: 30px; height: 30px;
    margin: auto;
    background-image: url(../img/top.png);
    background-repeat: no-repeat;
    background-position: 0 0; 
    background-size: cover;
  }
}
