// ProjectBox.scss

#projectBox {
  width: 100%; height: auto; 
  padding: 40px;
  background-color: rgb(255,218,185,0.3);
  font-family: 'OTWelcomeRA';

  > h2 {width: 100%; max-width:500px; height:40px; 
        margin: auto;
        text-transform: uppercase;
        font-size: 24px; color: black;}
}

.project_area {
  display: flex; justify-content: space-around; flex-wrap: wrap;
  width: 100%; height: auto;} 

.hermes_part {
  width: 100%; max-width: 500px; height: auto; padding-top: 50px; 

  & ul {position: relative; width: 100%; height: 900px;
    & li {width: 100%; height: 670px; margin: auto; margin-bottom: 20px; border: 4px solid white;
    @at-root .hermes_img {width: 100%; height: 100%; margin: auto;
      background-image: url(../img/hermes.png);
      background-repeat: no-repeat;
      background-position: 0 0; 
      background-size: cover;
      }
    }

    @at-root & dl {      
      width: 100%; height: 220px; margin: auto; padding: 20px;
      border: 2px solid white;
        & dt {
          width: 120px; height: 30px; 
          margin: auto; 
          font-size: 18px; text-transform: capitalize; font-weight: bold;
          }
        & dd {
          width: 100%; height: absolute; 
          margin-top: 6px;
          font-size: 15px;  text-align: center;
        }
      }

    @at-root & .hermes_url {
        position: absolute; bottom: 6px; left: calc(50% - 50px);
        width: 100px; height: 30px; 
        border: 1px solid lightgray; 
        & a {display: block; width:100%; height:100%; line-height: 36px;}
      }
    }
  }


.portfolio_part {width: 100%; max-width: 500px; height: auto; padding-top: 50px;
  & ul {position: relative; width: 100%; height: 900px; 
    & li {width: 100%; height: 670px; margin: auto; margin-bottom: 20px; border: 4px solid white;;

    @at-root .portfolio_img {width: 100%; height: 100%; margin: auto;
      background-image: url(../img/portfolio.png);
      background-repeat: no-repeat;
      background-position: 0 0; 
      background-size: cover;
      }
    }

    @at-root & dl {      
      width: 100%; height: 220px; margin: auto; padding: 20px;
      border: 2px solid white;
        & dt {
          width: 100%; height: 30px; 
          margin: 8px auto; 
          font-size: 18px; text-transform: capitalize; font-weight: bold;
          }
        & dd {
          width: 100%; height: auto; 
          margin: auto; margin-top: 20px; 
          font-size: 16px;  text-align: center;
        }
      }

    @at-root & .portfolio_url {
      position: absolute; bottom: 6px; left: calc(50% - 50px);
      width: 100px; height: 30px; 
      border: 1px solid lightgray; 
      & a {display: block; width:100%; height:100%; line-height: 36px;}
      }
    }
  }


