// SkillBox.scss

#skillBox {
  width: 100%; height: auto;
  padding: 40px;
  background-color: rgb(255,218,185,0.3);

  > h2 {width: 100%; max-width: 500px; height: 40px; 
    margin: auto;
    text-transform: uppercase; font-size: 24px; color: gray;}
}

.skill_area_01 {
  display: flex; justify-content: space-around; flex-wrap: wrap;
  width: 100%; height: auto;
  padding: 70px;
  text-transform: uppercase;

  h3 {
    width: 130px; height: 30px; 
    margin: 20px auto; 
    line-height: 28px; font-size: 20px; text-decoration: none;}
  p {width: 250px; height: 70px; margin: 20px auto; background-color: white; } 
}


.html_part {
  width: 270px; height: 270px;
  & .html_icon {width: 100px; height: 100px; color: red;}
}

.css_part {
  width: 270px; height: 270px;
  & .css_icon {width: 100px; height: 100px; color: blue;} 
}

.scss_part {
  width: 270px; height: 270px;
  & .scss_icon {width: 100px; height: 100px; color: hotpink;} 
}

.skill_area_02 {
  display: flex; justify-content: space-around; flex-wrap: wrap;
  width: 100%; height: auto;
  padding: 70px;
  text-transform: uppercase;

  h3 {
    width: 130px; height: 30px; 
    margin: 20px auto; 
    line-height: 28px; font-size: 20px; text-decoration: none;}
  p {width: 250px; height: 70px; margin: 20px auto; background-color: white;} 
  // background-color: #faf;
}

.js_part {
  width: 270px; height: 270px; 
  & .js_icon {width: 100px; height: 100px; color: orange;} 
}

.react_part {
  width: 270px; height: 270px; 
  & .react_icon {width: 100px; height: 100px; color: rgb(149, 208, 228);} 
}

.git_part {
  width: 270px; height: 270px;
  & .git_icon {width: 100px; height: 100px; color: black;} 
}