// ViewBox.scss

#viewBox {
  width: 100%; height: auto;
  margin-top: 50px;
  background-color: #ccc;

  > h2 {width: 100%; max-width:500px; height: 40px; margin: auto; background-color: #fda;}
}

.view_area {
  width: 100%; max-width: 350px; height: 350px; 
  margin: 20px auto; 
  border-radius: 50%;
  background-color: #ddd;}

.view_text {
  width: 100%; max-width: 500px; height: 100px; 
  margin: auto;
  background-color: #dfd;
}